html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #242c3f url("https://stmed.net/sites/default/files/rick-and-morty-wallpapers-31648-6557160.png") center top no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  display: inline-block;
  padding: 15px 30px;
  font-size: 22px;
  color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 20px;
  transition: transform 0.2s, border-color 0.2s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.key:hover {
  border-color: #fff;
}

.key__name {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

button {
  background: #242c3f;
}

button:hover{
 transform: scale(1.2); 
 background:#34405c;;
 box-shadow: 0 3px 5px rgb(173, 165, 155);
 transition: all 0.8s ;
}

p{
  color:rgb(214, 212, 212);
  font-size: 13px;
}