body {
   font: 14px "Century Gothic", Futura, sans-serif;
   margin: 20px;
}

ol,
ul {
   padding-left: 30px;
}

.board-row:after {
   clear: both;
   content: "";
   display: table;
}

.status {
   margin-bottom: 10px;
}

.square {
   background: #fff;
   border: 1px solid #999;
   float: left;
   font-size: 24px;
   font-weight: bold;
   line-height: 34px;
   height: 34px;
   margin-right: -1px;
   margin-top: -1px;
   padding: 0;
   text-align: center;
   width: 34px;
   transform: all 3s;
}

.square:focus {
   outline: none;
   background: rgb(233, 228, 228);
   transform: scale(1.04);
}

.square:hover {
   background: rgb(233, 228, 228);
   transform: scale(1.04);
}
.kbd-navigation .square:focus {
   background: #ddd;
}

.game {
   display: flex;
   flex-direction: row;
}

.game-info {
   margin-left: 20px;
}

.winner {
   background-color: #2475b0;
   width: 50%;
   height: 2em;
   color: white;
   text-align: center;
}
